.page {
  display: none;
}

.selected {
  display: block;
};

.album-page {
  @include grid-container;
  position: relative;
}

.album-list {
  list-style: none;
  @include grid-column(12);
  margin: 0;
  padding: .1rem 0 1rem 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.album-pic-container {
  // background: linear-gradient($color-third, $color-five);
  // margin-top: 1rem;
  list-style: none;
  @include grid-column(4);
  background: linear-gradient($color-third, $color-five);
  margin-top: 1rem;
}

.album-img {
  width: 90%;
  margin-top: .5rem;
}

h2 {
  padding-left: 3rem;
  font-family: $primary-font;
  font-size: 1rem;
  color: $color-primary;
  text-align: left;
  position: relative;
}
// triangle
// h2::before{
//   display: block;
//   width: 0;
//   height: 0;
//   content: '';
//   border-top: transparent solid 10px;
//   border-left: $color-primary solid 10px;
//   border-right: transparent solid 10px;
//   border-bottom: transparent solid 10px;
//   position: absolute;
//   left: 0;
// }
