footer {
  position: absolute;
  bottom: 0;
  background: $color-four;
  width: 100%;
  text-align: right;
  z-index: -1;
}

.fa-picture-o {
 margin-right: 3rem;
 color: $color-secondary;
 margin-top: .5rem;
}
