

.pic-page {
  @include grid-container;
  // @include grid-visual;
  background: linear-gradient($color-primary, $color-five);
  bottom: 0;
}

.large-container {
  text-align: center;

}

.backBtn {
  background: linear-gradient(to right, $color-four, $color-third);
  background-size: contain;
  color: $color-primary;
  width: 20%;
  margin: 2rem 1rem 0 3rem;
  float: left;
  padding: .5rem;
  border: solid .09rem $color-secondary;
  border-radius: 5rem;
}

.fa-chevron-left {
  margin-right: 1rem;
  color: $color-five;
}

h4 {
  display: inline-block;
  margin: 1rem 0 2rem -19rem;
  color: $color-third;
  font-family: $secondary-font;
  font-size: 3rem;
}

.large-img {
  margin: 0 0 3rem 0;
  @include grid-column(10);
  @include grid-push(1);
}
