$color-primary: #0ABAB5;
$color-secondary: #3DCCC7;
$color-third: #3DCCC7;
$color-four: #9CEAEF;
$color-five: #C4FFF9;

$color-primaryBackground: #FDFFFC;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'PT Serif', serif;
